.build/
.test/
.dist/
.git/
.svn/
.dts/
.metadata/
.reports/
.idea/
.recommenders/
.settings/
coverage/
classes/
node_modules/
bin/
typings
dist/
lib/
/src/**/*.js
/src/**/*.map
*.class
*.war
*.swf
*.log
*.iml
.DS_Store
.project
.classpath
.tomcatplugin
test-results.xml
index.d.ts
index.js
index.js.map
