.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5%;
  overflow: hidden;
}
.slider-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}
.slider-bar {
  position: absolute;
  width: 90%;
  height: 20%;
  top: 40%;
  left: 5%;
  background-color: #607D8B;
}
.circle {
  position: absolute;
  background-color: #cfd8dc;
}
