<div class="sheets" [style.display]="( display | asyncState ) ? 'block' : 'none'">
    <div class="sheets-content">
        <sheet [columnNumber]="0"></sheet>
        <sheet [columnNumber]="1"></sheet>
        <sheet [columnNumber]="2"></sheet>
        <sheet [columnNumber]="3"></sheet>
        <sheet [columnNumber]="4"></sheet>
        <sheet [columnNumber]="5"></sheet>
        <sheet [columnNumber]="6"></sheet>
        <sheet [columnNumber]="7"></sheet>
        <sheet [columnNumber]="8"></sheet>
        <sheet [columnNumber]="9"></sheet>
        <sheet [columnNumber]="10"></sheet>
        <sheet [columnNumber]="11"></sheet>
        <sheet [columnNumber]="12"></sheet>
        <sheet [columnNumber]="13"></sheet>
        <sheet [columnNumber]="14"></sheet>
        <sheet [columnNumber]="15"></sheet>
    </div>
</div>
