<div class="header" [style.opacity] = "( display | asyncState ) ? '1.0' : '0.0'">
    <nav class="header-nav">
        <button
            [ngClass]="( state | asyncState ).openBook ? 'book-list-button' : 'book-list-button-checked'"
            type="button"
            (mousedown)="openBookList()">書棚</button>
        <button
            [ngClass]="( state | asyncState ).openBook ? 'viewer-button-checked' : 'viewer-button'"
            type="button"
            (mousedown)="openViewer()">Viewer</button>
        <button
            [ngClass]="( state | asyncState ).openSettings ? 'open-settings-button-checked' : 'open-settings-button'"
            type="button"
            (mousedown)="toggleSettings()">設定</button>
    </nav>
</div>
