.scale {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 40%; }

.scale-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #607D8B; }

.circle {
  background-color: #336699; }
